spring.config.import: "configserver:, classpath:application-openapi-anuncio.yml, classpath:application-openapi-tag.yml"

spring:
  application:
    name: ms-anuncios       # ⇦ Debe coincidir con el nombre del YAML en el Config Server

  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: mi-super-clave-jwt-muy-segura-12345678   # mismo valor (o elimínalo y deja que venga del servidor)

  cloud:
    config:
      failFast: true
      retry:
        initialInterval: 3000
        multiplier: 1.3
        maxInterval: 10000
        maxAttempts: 20
      uri: http://localhost:8888
      username: ${CONFIG_SERVER_USR}
      password: ${CONFIG_SERVER_PWD}

---
spring.config.activate.on-profile: docker

spring.cloud.config.uri: http://config-server:8888
